/* 	esse é o css feito para o zen garden
	vai ter informações do grupo aqui depois, por enquanto só o que a gente precisa */

/* 	area reservada para copyright */

/* 	implementação de cada um daqui pra baixo
	eu separei em partes para todos trabalharem de forma mais organizada com seu espaço

	## IMPORTANTE, SE VOCE VAI ALTERAR UM ATRIBUTO DE UMA TAG QUE JÁ ESTA SENDO
	USADA POR ALGUEM, POR FAVORZINHO AVISA A PESSOA QUE COLOCOU A TAG PRIMEIRO
		POR FAVOR NAO SOBRESCREVA ATRIBUTO DE TAG DOS OUTROS ## */


/* implementação da bianca */

/* implementação da kelly */

a.zen-validate-html
{
    content: url(imagens/buraco_negro.png);
    width: 114px;
    height: 114px;  
}  

a.zen-validate-css
{
    content: url(imagens/cometa.png);
    width: 114px;
    height: 114px;  
  
}  

a.zen-license
{
    content: url(imagens/estrela.png);
    width: 114px;
    height: 114px;    
  
}  

a.zen-accessibility
{
    content: url(imagens/planeta.png);
    width: 114px;
    height: 114px;    
}  

a.zen-github
{
    content: url(imagens/satelite.png);
    width: 114px;
    height: 114px;     
}  


#zen-preamble.preamble h3
{
  margin-top: 10px;
  display: table;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: rotate(-90deg) translate(-145px,-130px); 
  -moz-transform: rotate(-90deg) translate(-145px,-130px);
  -ms-transform: rotate(-90deg) translate(-145px,-130px);
  -o-transform: rotate(-90deg) translate(-145px,-130px);	
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}

/*#zen-preamble.preamble p
{
	float: left;	
}*/

#zen-explanation.explanation h3
{
  margin-top: 5px;
  display: table;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: rotate(-90deg) translate(-125px,-115px); 
  -moz-transform: rotate(-90deg) translate(-125px,-115px);
  -ms-transform: rotate(-90deg) translate(-125px,-115px);
  -o-transform: rotate(-90deg) translate(-125px,-115px);	
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}


#zen-participation.participation h3
{
   margin-top: 125px;
  display: table;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: rotate(-90deg) translate(-85px,-72px); 
  -moz-transform: rotate(-90deg) translate(-85px,-72px);
  -ms-transform: rotate(-90deg) translate(-85px,-72px);
  -o-transform: rotate(-90deg) translate(-85px,-72px);	
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}


#zen-benefits.benefits h3
{
	margin-top: 125px;
  display: table;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: rotate(-90deg) translate(-65px,-52px); 
  -moz-transform: rotate(-90deg) translate(-65px,-52px);
  -ms-transform: rotate(-90deg) translate(-65px,-52px);
  -o-transform: rotate(-90deg) translate(-65px,-52px);	
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}


#zen-requirements.requirements h3
{
	margin-top: 125px;
  display: table;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: rotate(-90deg) translate(-88px,-75px); 
  -moz-transform: rotate(-90deg) translate(-88px,-75px);
  -ms-transform: rotate(-90deg) translate(-88px,-75px);
  -o-transform: rotate(-90deg) translate(-88px,-75px);	
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}


/* implementação do patreze */



/* implementação da thayná */

/* implementação da vitória */
/*imagem única do fundo - item 6*/
body{
	background: #122981 url(imagens/stnasa.png);
	background-attachment: absolute;
}
/*imagem e título do lado - item 3*/
.page-wrapper {
	width:500px;
	padding: 50px;
	position:relative;
	left:100px;
	/*margin-left:-198px;
	bottom: 200px;*/
	margin-top: 0px;
	text-align: justify;
	color:white;
}
/*Isso eu nem imagino pra que serve*/
* html .page-wrapper{ /*IE FIX*/
	margin-left:-197px;
}

.intro header {
	top:0px;
	width:150px;
	height:400px;
	z-index: 1;
	left:60%;
	margin-left:-300px;
	position:absolute;
	background: #122981 url(imagens/stnasa.png);
}

h1,h2 {
  position: absolute;
  color: #ffffff;
  font-size: 150%;
  line-height: 2em;
  top: 110px;
  margin-left:-50px;
  padding: 1em;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  /*Ainda n sei  pra que isso serve*/
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}

h2 {
	margin-left:-0px;
  font-size: 100%;
  top: 100px;
}

.summary {
	top: 0px;
	position: absolute;
	width: 50%;
	left:50%;
	margin-left:-50px;
}
.preamble {
	top: 160px;
	position: absolute;
	width: 50%;
	left:50%;
	margin-left:-50px;
}
.main {
	top: 600px;
	position: absolute;
	width: 50%;
	left:50%;
	margin-left:-50px;
}
.sidebar {
	width: 50%;
	position: absolute;
	left:120%;
	margin-left:-50px;
}

/*Imagem embaixo do título do lado*/
/*Ideia da imagem dos planetas*/
.extra1{
   	top:350px;
	width:300px;
	height: 2200px;/*Ajustar de acordo com a altura que ficar na página - só se for absolute*/
	background:url(imagens/planetas3.png) no-repeat;
	z-index: 1;
	left:25%;
	margin-left:-300px;
	position:absolute;
}
